swagger: "2.0"
info:
  title: Checklist API sample
  description: Sample API documentation for the Checklist API. ITS Web Architecture Course
  version: 1.0.0
host: cl.wa.its
basePath: /v1
schemes:
  - https
paths:
  /checklists:
    get:
      summary: Returns a list of checklists.
      description: Use this endpoint to get all checklists.
      produces:
        - application/json
      responses:
        200:
          description: A list of Checklist objects
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  example: 1
                name:
                    type: string
                    example: "Pulizie"
                status:
                      type: integer
                      example: 1
                tasksCount: 
                      type: integer
                      example: 5
                completedTasks: 
                      type: integer
                      example: 3
                detail: 
                      type: string
                      example: "https://cl.wa.its/checklists/1"

  /checklists/{checklistId}:
    get:
      summary: Returns a checklist.
      description: Use this endpoint to get detail of a checklist.
      parameters:
        - in: path
          name: checklistId
          required: true
          type: integer
          minimum: 1
          description: The ID of the desired checklist
      produces:
        - application/json
      responses:
        200:
          description: Detail of checklist
          schema:
            type: object
            properties:
                id:
                  type: integer
                  example: 1
                name:
                    type: string
                    example: "Pulizie"
                description:
                    type: string
                    example: "Assicurare la pulizia dei locali"
                status:
                  type: integer
                  example: 1
                detail: 
                  type: string
                  example: "https://cl.wa.its/checklists/1"
                tasks:
                    type: array
                    items:
                      type: object
                      properties:
                        id: 
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: "Pulizia ingresso"
                        status:
                          type: integer
                          example: 0
                        description:
                            type: string
                            example: "Pulire e disinfettare porte ingresso e atrio"
                        detail:
                          type: string
                          example: "https://cl.wa.its/checklists/1/tasks/1"
                              
                        
              